/* Column */
.flex-10{
  flex: 0 1 10%;
}
.flex-19{
    flex: 0 1 19%;
}
.flex-23{
    flex: 0 1 23%;
}
.flex-32{
    flex: 0 1 32%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-35{
    flex: 0 1 35%;
}
.flex-45{
    flex: 0 1 45%;
}
.flex-33{
    flex: 0 1 33%;
}
.flex-35{
    flex: 0 1 35%;
}
.flex-40{
    flex: 0 1 40%;
}
.flex-19{
    flex: 0 1 19%;
}
.flex-23{
    flex: 0 1 23%;
}
.flex-35{
    flex: 0 1 35%;
}
.flex-45{
    flex: 0 1 45%;
}
.flex-46{
    flex: 0 1 45%;
}
.flex-32{
    flex: 0 1 32%;
}
.flex-20{
    flex: 0 1 20%;
}
.flex-48{
    flex: 0 1 49%;
}
