/* FLEX-BOX */
.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-between{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}