*, *::before, *::after {
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-size: 1rem;
    font-family: $font;
}
.padding{
  padding: 60px 0;
}
.font-0{
    font-size: 0;
}

a,li{
    text-decoration: none;
}
p{
    font-size: 16px;
    color: #868D94;
    font-weight: 500;
    margin: 20px 0;
    text-transform: capitalize;
    line-height: 1.5;
}
h2, h3, h4, h5, h6 {
    
    text-transform: capitalize;
}
h1{
    font-size: 3.5rem;
    text-transform: capitalize;
}
h2{
    font-size: 2.0rem;
    font-weight: 800;
}
h3{
    font-size: 1.7rem;

}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1rem;
    font-weight: 800;
}
h6{
    font-size: 0.5rem;
}